In [7]:
import mysql.connector
import pandas as pd

In [4]:
connection = mysql.connector.connect(host= 'localhost',
                                     user = 'root',
                                    password = '589268',
                                    database = 'swiftmarket')

cursor = connection.cursor()

In [3]:
connection.is_connected()

True

In [8]:
query = '''show tables'''
cursor.execute(query)
rows = cursor.fetchall()
for row in rows:
    print(row)

('categories',)
('customers',)
('employees',)
('salesdata',)
('subcategories',)
('suppliers',)

In [ ]:
query = '''show tables'''
cursor.execute(query)
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
query = '''select * from salesdata'''
cursor.execute(query)
rows = cursor.fetchall()
for row in rows:
    print(row)

In [10]:
cursor.column_names

('Tables_in_swiftmarket',)

In [11]:
pd.DataFrame(data = rows , columns = cursor.column_names )

  Tables_in_swiftmarket
0            categories
1             customers
2             employees
3             salesdata
4         subcategories
5             suppliers

In [9]:
def inputs (query):
    cursor.execute(query)
    rows = cursor.fetchall()